pyserial
PyDispatcher
bottle
Sphinx
yappi
intelhex
openwsn-coap
pylint
pycryptodome
cbor
hkdf
paho-mqtt
scapy
pytest
coloredlogs
verboselogs
click
blessed
ipaddr
pywin32; sys_platform == 'win32'
colorama; sys_platform == 'win32'
