pyserial
PyDispatcher
bottle
Sphinx
yappi
intelhex
setuptools<=44.1.1
openwsn-coap
pycryptodome
cbor
hkdf
paho-mqtt
coloredlogs
verboselogs
click
blessed
ipaddr
scapy
sshtunnel
iotlabcli
pywin32; sys_platform == 'win32'
colorama; sys_platform == 'win32'
